.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo_detail {
    width: 140px;
    height: 140px;
}

.navli {
    display: inline-block;
    margin: 0px 35px 0px 50px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

.navli:hover {
    text-decoration: underline;
}

.navli:hover:last-child {
    cursor: pointer;
}


