* {
    margin: 0;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #002f34;
}

.signup_form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0  0 10px beige;
    text-align: center;
}

.signup_form h2 {
    color: rgb(0, 0, 0);
}

.signup_form label {
    display: block;
    margin: 10px 0;
}

.signup_form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup_form button {
    background-color: #002f34;
    color: rgb(255, 255, 255);
    border: 4px solid #002f34;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.signup_form button:hover {
    background-color: #ffffff;
    color: #002f34;
}

.login_link {
    color: rgb(3, 90, 90);
}

.login_link:hover {
    color: rgb(0, 0, 0);
}